<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head') %>
	<body>
		<div class="wrapper">
			<div class="d-flex flex-column m-auto page404">
				<img class="logo-404" src="/images/404.svg" alt="" />
				<h1 style="font-size: 2.5vw; margin: auto; margin-top: 0;">
					Looks like you took a wrong turn...
				</h1>
			</div>
		</div>
	</body>
</html>
