<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
			integrity="sha484-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
			crossorigin="anonymous"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Muli:wght@400;600&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link rel="stylesheet" href="style.css" />
		<title>Smoky Pizza</title>
	</head>
	<body>
		<div class="wrapper">
			<div class="header d-block d-sm-flex justify-content-between py-1">
				<div class="brand d-flex justify-content-between my-auto">
					<h3 class="px-3 my-auto">Brand</h3>
					<div class="px-3 d-flex d-sm-none my-auto" onclick="toggle()">
						<i id="toggle" class="fa fa-bars"></i>
					</div>
				</div>

				<ul
					id="toggle_menu"
					class="menu_items d-none d-sm-flex my-auto px-3 text-center"
				>
					<li class="py-sm-0 py-2">Home</li>
					<li class="py-sm-0 py-2">About Us</li>
					<li class="py-sm-0 py-2">Contact</li>
					<!-- <li>Profile</li> -->
					<li class="py-sm-0 py-2">Login</li>
					<li class="py-sm-0 py-2">Sign Up</li>
				</ul>
			</div>
			<div class="content">
				<div class="pizza_cards_container row my-5">
					<div class="col-xl-3 col-lg-4 col-sm-6">
						<div class="pizza_card p-1">
							<div class="pizza_card_top d-flex justify-content-between">
								<div class="pizza_title ml-1">Awesome Pizza</div>
								<div class="pizza_hotness d-flex align-items-center mr-1">
									<img src="images/hotness.svg" alt="" />
									<img src="images/hotness.svg" alt="" />
									<img src="images/hotness.svg" alt="" />
								</div>
							</div>
							<!-- <div class="pizza_img text-center"> -->
							<img class="mx-auto mb-1" src="images/pizza.jpg" alt="pizza" />
							<span><img src="images/veg.svg" alt="" /></span>
							<!-- </div> -->
							<div
								class="pizza_card_bottom d-flex mt-auto justify-content-between"
							>
								<div class="pizza_price text-center">485</div>
								<div class="add_to_cart text-center">Add to Cart</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-sm-6">
						<div class="pizza_card">Card 1</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-sm-6">
						<div class="pizza_card">Card 1</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-sm-6">
						<div class="pizza_card">Card 1</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-sm-6">
						<div class="pizza_card">Card 1</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-sm-6">
						<div class="pizza_card">Card 1</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-sm-6">
						<div class="pizza_card">Card 1</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-sm-6">
						<div class="pizza_card">Card 1</div>
					</div>
				</div>
				<!-- <% pizzaData.forEach(function(pizza){ %>
				<h1><%= pizza.title %></h1>
				<% }); %> -->
			</div>
			<div class="footer">
				<h1>Footer</h1>
			</div>
		</div>
		<script src="script.js"></script>
	</body>
</html>
